<h1>Customer</h1>
<h2>Fresh Potato</h2>
<p>Buy your fresh potatoes here</p> 
<p>Only $1.99 a pound</p> 
<h2>Rubber Ducks</h2>
<p>Quack</p>
<h1>
	<a href="http://localhost:3000/static_pages/Checkout"</a>CHECKOUT
</h1>
