<h1>ShopComm</h1>
<p>Welcome to our shitty site, where we sell shitty products at shitty prices</p>
<h2>Featured Products</h2>
<h3>Fresh Potatos</h3> 
<p>
	A 
	<a href="/static_pages/Login">Potato</a> Flew Around My Room Before You Came.
</p>
<h3>Rubber Ducks</h3> 

<h1>
	<a href="/static_pages/Login">LOGIN</a>
</h1>
<h1>
	<a href="/static_pages/Register">REGISTER</a>
</p>

