<h1>Login</h1>
<p>Find me in app/views/static_pages/Login.html.erb</p>

<form action="http://localhost:3000/static_pages/Customer">
Username: <input type="text" name="Username" value="Username"><br>
Password: <input type="text" name="Password" value="Password"><br>
<input type="submit" value="Login">
</form>