<h1>Registration</h1>

<form action="http://localhost:3000/static_pages/AccountCreated">
Username: <input type="text" name="Username" value=""><br>
Password: <input type="text" name="Password" value=""><br>
Confirm Password: <input type="text" name="Password" value=""><br>
Name: <input type="text" name="Name" value=""><br>
Email: <input type="text" name="Email" value=""><br>
<input type="submit" value="Register">
</form>

