<div id="section">
<h1>Registration</h1>

<form action="/static_pages/AccountCreated">
Username: <input type="text" name="Username" value=""><br>
<br>
Password: <input type="text" name="Password" value=""><br>
<br>
Confirm Password: <input type="text" name="Password" value=""><br>
<br>
Name: <input type="text" name="Name" value=""><br>
<br>
Email: <input type="text" name="Email" value=""><br>
<br>
<input type="submit" value="Register">
</form>
</div>
